@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(../iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(../iconfont/example.com/MaterialIcons-Regular.ttf) format('truetype');
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


.brand-logo{
	top: -5px;
	background-image: url("../img/logo.png");
	width: 60px;
	height: 76px;
	background-size: 60px 76px;
}

.logo-slide{
	background-image: url("../img/logocompleto.png");
	width: 203px;
	height: 76px;
	background-size: 203px 76px;
	margin: 10px auto;
}

.brand-logo::after{
	content: "";
	display: block;
	background: url("../img/texto.png");
	width: 143px;
	height: 76px;
	background-size: 143px 76px;
	margin-left: 100%;
	
}

.arriba-nav{
	width: 100%;
	height: 10px;
}

.header{
	position: fixed;
	width: 100%;
	top: 0;
	/*z-index: 10000;*/
}

.material-icons{
	transition: color 0.5s;
}

.material-icons:hover{
	color: #ffeb3b;
	transition: color 0.5s;
}

.contenedor-principal {
	margin-top: 100px;
}

.collapsible-body ul li a{
	padding: 0 37.5px 0 30px !important;
}

@media only screen and (max-width: 1105px) {
	.brand-logo::after{
		content: "";
		background: url();

	}
}

@media only screen and (max-width: 992px) {
	.brand-logo{
		top: -5px;
		background-image: url("../img/logocompleto.png");
		width: 203px;
		height: 76px;
		background-size: 203px 76px;
	}
}

@media only screen and (max-width: 600px) {
	.brand-logo{
		width: 182px;
		height: 68px;
		background-size: 182px 68px;
	}
}